.vitorias {
    padding-left: 25em;
}
.vitoria {
    padding-right: 10em;
}

.botao {
	border: solid black;
	border-radius: 7px;
	margin: 0em;
	margin-bottom: 2em;
	width: 120px;
	font-size: 15px;
}

.botao:hover {
	background-color: #ffb380;
}

.botao:active {
	background-color: #ff6600;
}

.background {
	background-color: #ff6600;
	height: 900px;
}

.menuTitle {
	padding-bottom: 2em;
}


* {
	font-family: 'Bai Jamjuree', sans-serif;
}